body{
    margin-top: 3vh;
    font-family: Oxygen;
    background-color: rgba(0, 0, 0, 0.815);
    height: 100vh;   
}

#header{
    color: whitesmoke;
    text-shadow: 2px 2px #131212;
    font-size: 20px;

}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px #131212;
}

h2{
    color: whitesmoke;
    text-shadow: 2px 2px #131212;
    
}

.allstudents{
    height:fit-content;
    display: flex;
    align-items: center;
   
    padding-top: 5vh;
    /* background-color: lavender; */
    
}
   

.studentcourse{
    background-color: rgb(200, 211, 216);
    border: black solid 0.5px;
    width: fit-content;
    display: inline-flex;
    flex-wrap: wrap;
   margin: 5px;
    
}

.studentcourse > p{
    margin: 6px;

}
